<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Community Solid Server</title>
  <link rel="stylesheet" href="/.well-known/css/styles/main.css" type="text/css">
</head>
<body>
  <header>
    <a href=".."><img src="/.well-known/css/images/solid.svg" alt="[Solid logo]" /></a>
    <h1>idsrv2</h1>
  </header>
  <main>
    <h1>idsrv2</h1>
    <p>
      This is a Solid authentication server using Google OIDC. Please register user only once at the beginning. The following "Local login" and "Local logout" are just for testing your registration. To login to the actual systems, please go to each system.
    </p>

    <ul>
      <li><a id="regist_link" href="">User registration</a></li>
      <li><a id="login_link" href="">Local login</a></li>
      <li><a id="logout_link" href="">Local logout</a></li>
      <li><a id="sub_link" href="">Get Google Sub Info</a></li>
      <li><a id="account_link" href="">Account Information</a></li>
      <li><a id="admin_link" href="">Admin</a></li>
    </ul>
  </main>
</body>
<script>
  (async() => {
    // Since this page is in the root of the server, we can determine other URLs relative to the current URL
    const res = await fetch('.account/');
    const controls = (await res.json())?.controls;
    const registrationUrl = controls?.html?.google?.register;
    const loginUrl = controls?.html?.google?.login;
    const logoutUrl = controls?.account?.logout;
    const subUrl = controls?.html?.google?.sub;
    const accountUrl = controls?.html?.account?.account;
    const adminUrl = controls?.html?.idsrv2?.admin;
    document.querySelector('#regist_link').setAttribute('href',registrationUrl);
    document.querySelector('#login_link').setAttribute('href',loginUrl);
    document.querySelector('#logout_link').setAttribute('href',logoutUrl);
    document.querySelector('#sub_link').setAttribute('href',subUrl);
    document.querySelector('#account_link').setAttribute('href',accountUrl);
    document.querySelector('#admin_link').setAttribute('href',adminUrl);
  })();
</script>
</html>
